@import "../shared/shared.css";

body{
	overflow:hidden;
	width: 100%;
	height: 100%;
}

.bg{
	position: relative;
	z-index: 1;
	width: auto;
	height: 100%;
	background: #dfe2e2;
	text-align: center;
}

.bg img{
	width: auto;
	height: 65%;
	opacity: .05;
	margin-top: 7rem;
}

.page{
	position: relative;
	overflow: hidden;
	z-index: 100;
}

.header{
	position:relative;
	height: 4.5rem;
	z-index: 101;
}

.page-content{
    position: absolute;
    width: 100%;
	bottom: 3.5rem;
    top: 4.5rem;
    overflow: auto;
	z-index: 99;
}

.page-footer{
	position: absolute;
	height: 3.5rem;
	bottom: 0;
	width:100%;
	z-index: 101;
}

.page-footer .topcoat-navigation-bar__item{
	top: 1rem;
	line-height: inherit;	
	border-left: 1px solid #333;
	border-right: 1px solid white;
	opacity: .9;
}

.page-footer .topcoat-navigation-bar__item:first-child{
	border-left: 0;
}

.page-footer .topcoat-navigation-bar__item:last-child{
	border-right: 0;
}

.goback {
	position: absolute;
	top: 1.5em;
	z-index: 100;
}

.topcoat-icon--back {
	background: url("../images/back.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--next {
	background: url("../images/next.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--email {
	background: url("../images/email.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--twitter {
	background: url("../images/twitter.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--github {
	background: url("../images/github.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--linkedin {
	background: url("../images/linkedin.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.page-title{
	position: relative;
}

.sections .page-title .topcoat-navigation-bar__title{
	text-shadow: 1px 3px 4px #000000;
	color: #dfe2e2;
}


div.sections .page-title span{
	font-size: 1.5em;
	width: 80%;
	display: inline-block;	
}

div.posts .page-title span{
	font-size: 1em;
	width: 80%;
	display: inline-block;	
}

div.post .page-title span{
	font-size: 0.75em;
	width: 80%;
	display: inline-block;	
}


.topcoat-list__item{
	position: relative;
	padding: 0 !important;
	clear: both;
}

.list a{
	display: block;
	padding: 1.25rem 0 1.25rem 0;
}

.posts .list a, .post .list a {
	padding-left: 1.25rem;
	text-align: left;
}

.topcoat-list{
	border-top: 0 !important;
	background-color: transparent;
}