@import "../shared/shared.css";

/*@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

*/
body{
	overflow:hidden;
	width: 100%;
	height: 100%;
}

.bg{
	position: relative;
	z-index: 1;
	width: auto;
	height: 100%;
	background: #dfe2e2;
	text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bg{
	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bg img{
	width: auto;
	height: 65%;
	opacity: .05;
	margin-top: 7rem;
}

.page{
	z-index: 100;
}

.header{
	position:absolute;
    width: 100%;
	top: 0;
	left: 0;
	height: 4.5rem;
	z-index: 101;
}

.page-content{
    position: absolute;
    width: 100%;
	bottom: 3.5rem;
    top: 4.5rem;
    overflow: auto;
	z-index: 200;
}

.page-footer{
	position: absolute;
	height: 3.5rem;
	bottom: 0;
	width:100%;
	z-index: 201;
}

.page-footer .topcoat-navigation-bar__item{
	top: 1rem;
	line-height: inherit;	
	border-left: 1px solid #333;
	border-right: 1px solid white;
	opacity: .9;
}

.page-footer .topcoat-navigation-bar__item:first-child{
	border-left: 0;
}

.page-footer .topcoat-navigation-bar__item:last-child{
	border-right: 0;
}

.goback {
	position: absolute;
	top: 1.5em;
	z-index: 100;
}

.action-icon {
	position: absolute;
	width: 1rem;
	height: 1rem;
	right: 1rem;
	display: inline-block;
}

.topcoat-icon--back {
	background: url("../images/back.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--next {
	background: url("../images/next.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--email {
	background: url("../images/email.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--twitter {
	background: url("../images/twitter.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--github {
	background: url("../images/github.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.topcoat-icon--linkedin {
	background: url("../images/linkedin.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.page-title{
	position: relative;
}

.sections .page-title .topcoat-navigation-bar__title{
	text-shadow: 1px 3px 4px #000000;
	color: #dfe2e2;
}


div.sections .page-title span{
	font-size: 1.5em;
	width: 80%;
	display: inline-block;	
}

div.posts .page-title span{
	font-size: 1em;
	width: 80%;
	display: inline-block;	
}

div.post .page-title span{
	font-size: 0.75em;
	width: 80%;
	display: inline-block;	
}


.topcoat-list__item{
	padding: 0;
}

.listitem{
	position: relative;
	display: block;
	clear: both;
	text-align: left;
	padding: 1.25rem;
}

a.section.listitem{
	text-align: center;
	padding: 1.25rem 0 1.25rem 0;
}

.topcoat-list{
	border-top: 0 !important;
	background-color: transparent;
}

.image-container{
	display: inline-block;
	overflow: hidden;
}

.image-container.img__me{
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
/*    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         3.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name:             rotate; 
    -moz-animation-duration:         3.5s; 
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name:             rotate; 
    -o-animation-duration:         3.5s; 
    -o-animation-iteration-count:  infinite;
    -o-animation-timing-function: linear;
    animation-name:             rotate; 
    animation-duration:         3.5s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
*/}

.image-container img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.article-about .link, .section-rsum .link{
	display: none;
}

.article-about p:first-child{
	text-align: center;
	text-indent: 0;
	padding: 0;
}

.page-content p{
	padding: 0 1.5rem;
	text-align: justify;
	text-indent: 1rem;
}

.page-content p:last-child{
	padding: 0 1.5rem;
}


span.contact-name{
	float: left;
	width: 100%;
	font-weight: bold;
}

span.contact-contact{
	float:right;
}

.topcoat-list__header{
	border-top:0;
}

.article-experience .topcoat-list{
	border-bottom: 0;
}

.topcoat-list:last-child{
	border-bottom: 1px solid #eff1f1;
}

.topcoat-list__item:last-child {
	border-bottom: 0;
}

div.post.section-rsum a{
	text-decoration: underline !important;
}